html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  color: white;
  background-color: #EEE;
}

body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

#present, #future {
  right: 0;
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 0;
  z-index: 5;
  border-left: 8px solid #555;
}

#present {
  border-bottom: 4px solid #555;
}

#future {
  top: 50vh;
  border-top: 4px solid #555;
}


#notes {
  top: 0;
  color: #444;
  font-size: 30px;
  left: 0;
  top: 0;
  height: 100vh;
  width: 50vw;
  position: absolute;
  padding: 50px 0;
}

#time {
  background: #888;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 0;
  font-size: 40px;
  font-weight: bold;
  height: 52px;
  line-height: 52px;
  right: 30px;
  position: absolute;
  text-align: center;
  width: 200px;
}

iframe {
  border: none;
  height: 100%;
  pointer-events: none;
  width: 100%;
}

#slideidx,
#nextslideidx,
#slidecount {
  background: #888;
  font-size: 40px;
  font-weight: bold;
  height: 52px;
  line-height: 52px;
  margin: 0;
  position: absolute;
  text-align: center;
  z-index: 10;
}

#slideidx,
#nextslideidx {
  border-bottom: 4px solid #555;
  border-right: 4px solid #555;
  bottom: 50vh;
  padding: 0 10px;
}

#slideidx {
  border-bottom-right-radius: 10px;
  cursor: pointer;
  left: 50vw;
  top: 0;
}

#nextslideidx {
  border-bottom-right-radius: 10px;
  left: 50vw;
  top: 50vh;
}

#slidecount {
  border-bottom-left-radius: 10px;
  border: 4px solid #555;
  border-top: none;
  width: 200px;
  right: 50vw;
  top: 0;
}

#popup-button {
  background: #888;
  border: none;
  border-radius: 10px;
  color: #FFF;
  cursor: pointer;
  height: 52px;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  right: 50vw;
  bottom: 0;
  width: 200px;
  z-index: 10;
}

#content {
  overflow-y: auto;
  height: 100%;
  padding: 0 1em;
  background: repeating-linear-gradient(
    -55deg,
    #FDD,
    #FDD 20px,
    #EEE 20px,
    #EEE 40px
  );
}

#content:focus {
  background: #EEE;
}
